@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Josefin+Sans:wght@300;400;500&family=Montserrat:wght@200;300&family=Paytone+One&family=Poppins:wght@200;300&family=Roboto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Josefin+Sans:wght@300;400;500&family=Montserrat:wght@200;300&family=Paytone+One&family=Plus+Jakarta+Sans:wght@600;700;800&family=Poppins:wght@200;300&family=Roboto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Montserrat:wght@200;300&family=Paytone+One&family=Plus+Jakarta+Sans:wght@600;700;800&family=Poppins:wght@200;300&family=Righteous&family=Roboto+Serif:wght@100&display=swap');


  .navbar {
    padding: 30px;
  }
html {background-color: #FFF1DE;
}

h1
{
  font-family:"Righteous";
  font-weight: 700px;
  color: #E36834;
}

h2
{
  font-family:"Righteous";
  font-weight: 400px;
  color:#EF872C;
}

h3
{
  font-family:"Righteous";
  color: #EF872C;
}

p
{
  font-family:"montserrat";
  font-size: 16px;
  color: #EF872C;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans";
  font-weight: 300px;
  color: black ;
  padding-bottom: -10px;
  margin-bottom: -20px;
}

.logo-and-name h1{
  display: inline;
  padding: 30px;
}

.navbar-right a{
  padding: 30px;
  justify-content: flex-end;
  text-decoration: none;
  color: #E36834;
  font-family: "Righteous";
  font-weight: 300px;
  font-size: 22px;
}

.dropbtn {
 background-color: #FFF1DE;
 color: #E36834;
 padding: 16px;
 padding-right: 50px;
 /* padding-top: 0px; */
 font-size: 50px;
 border: none;
 cursor: pointer;
 float: right;
 justify-content: flex-end;
 display: flex;
}

.portfolio-navbar-center a{
  margin-top: -70px;
  font-size: 40px;

}

.portfolio-navbar a{
  font-size: 40px;
}

  .images{
    display: flex;
    justify-content: center;
  }


  .images-1{
    padding: 30px;

  }

  .images-3{
    padding: 30px;
  }



.images-2{
  padding: 30px;
}

.images-3{
  padding: 30px;
}

.images-4{
  padding: 30px;
}

.images-5{
  padding: 20px;
}

.images-6{
  padding:20px;

}

.images-7{
  display: inline;
  padding: 0 33px;
}


.images-8{
  padding: 0 33px;
  display: inline;
  margin-right: 250px;
}

.images-9{
  padding: 30px;
}

.images-10{
  padding:30px;
}

.about-me{
  padding:12px;
  width: 450px;
  color: #EF872C;
}

.portfolio-paragraph{
  text-align: center;
  font-family: "montserrat";
  color: #EF872C;
}

.portfolio-navbar a{
  display: inline-flex;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #E36834;
  font-family:"Josefin Sans";
  font-weight: 30px;
  font-size: 20px;
}
.portfolio-navbar-center{
  text-align: center;
}

.portfolio1-content{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.python-art{
  padding: 10px;

}
.python-art-paragraph{
  padding: 20px;
  display: inline-block;
  width: 400px;

}
.portfolio2-content{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.illustrator-art{
  padding: 10px;
}

.illustrator-art-paragraph{
  display: inline-block;
  justify-content: center;
  padding: 20px;
  width: 400px;
}

.portfolio3-content{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.photoshop-paragraph{
  padding: 20px;
  display: inline-block;
  justify-content: center;
  width: 250px;
}

.photoshop-images{
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.contact-paragraph p{
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 300px;
  font-size: 20px;
  color: #EF872C;
}

.form{
  text-align: center;
  justify-content: center;
}
.form form{
  display: inline-block;
  text-align: left;
}

form label{
  font-family:"Josefin Sans";
  font-weight: 300px;
  color: #EF872C;
}

input[type=text] {
  text-align: center;
  font-family: "montserrat";
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  background-color: #FFF5BF;
  border: 2px solid orange;
  border-radius: 4px;
  color: #EF872C;
}

.form-box{

}

.contact-info p{
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family:"Josefin Sans";
  font-weight: 300px;
}

.contact-info a{
  text-decoration: none;
  color: #EF872C;
}

.button{
  text-align: center;
}

.button a{
  text-decoration: none;
  display:inline-block;
  border: 2px solid orange;
  width: 80px;
  height: 50px;
  border-radius: 1000px;
  color: orange;
  background-color: #FFF5BF;
  font-family: "Josefin Sans";
}

@media only screen and (max-width: 400px){
  h1{
    font-size: 20px;
    padding-left: 0px;
    padding-top: 10px;
    margin-left: -30px;
  }
  .dropbtn{
    padding-right: 0px;
    margin-right: -90px;
    font-size: 10px;
    margin-top: -40px;
  }

.navbar{
  padding-bottom: -20px;
}

.dropdown-content {
 font-size: 16px;
}
  rect{
    width: 60px;
    height: 30px;
  }
  .images{
    flex-direction: column;
  }

  .images-1 img{
    width: 250px;
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .images-2 img{
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .images-3 img{
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-me{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
  }

.portfolio1-content{
  flex-direction: column;
}

.python-art img{
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.python-art-paragraph {
  width: 325px;
}

.portfolio2-content{
  flex-direction: column;
}

.illustrator-art img{
  width:300px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.illustrator-art-paragraph {
  width: 325px;
  display: block;
  flex-direction: column;
}

.portfolio3-content{
  flex-direction: column;
}

.images-5 img{
  width: 350px;
  height: 265px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-6 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photoshop-paragraph{
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.images-7 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-8 img{
  width: 350px;
  height: 265px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.photoshop-images {
  flex-direction: column;
  padding: 15px;
}

  .button{}

  .contact-info{

  }


.form{
  width: 225px;
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  .form-box{
    width: 150px;
    justify-content: center;
  }

  .contact-paragraph p{
    font-size: 15px;
  }

  }
