@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Josefin+Sans:wght@300;400;500&family=Paytone+One&family=Poppins:wght@200;300&family=Roboto+Serif:wght@100&display=swap');

html {background-color: #FFF1DE;
/* opacity: .7; */
}

h1
{
  font-family:'Josefin Sans',sans-serif;
  /* font-size: 14px */
  background-color: #f9d1d1;
  color: #E36834;
}

h2
{
  font-family:'Poppins',sans-serif;
   /* font-size: 14px;--!> */
  color:#EF872C;
}

h3
{
  font-family:'Josefin Sans',sans-serif;
  /* font-size: 14px;--!> */
  color: #EF872C;
}

p
{
  font-family:'Poppins',sans-serif;
  font-size: 16px;
  color: #DE6E0C;
}

ol
{
  font-family:'Poppins',sans-serif;
  font-size: 16px;
  color: #E36834;
}
