@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Josefin+Sans:wght@300;400;500&family=Paytone+One&family=Poppins:wght@200;300&family=Roboto+Serif:wght@100&display=swap');

html {background-color: #FFF1DE;
/* opacity: .7; */
}

h1
{
  font-family:"gopher";
  /* font-size: 14px */
  color: #E36834;
}

h2
{
  font-family:'gopher',sans-serif;
   /* font-size: 14px;--!> */
  color:#EF872C;
}

h3
{
  font-family:"gopher";
  /* font-size: 14px;--!> */
  color: #EF872C;
}

p
{
  font-family:"new order";
  font-size: 16px;
  color: #DE6E0C;
}

ol
{
  font-family:'gopher',sans-serif;
  font-size: 16px;
  color: #E36834;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "gopher";
  color: black;
}
.navbar-name{
  padding: 30px;
}
/* .navbar-left {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  font-family: "gopher"; */
.navbar-a{
  padding:30px;
  /* align-items: right; */
  /* order:1; */
}
.navbar-b{
  padding: 30px;
  /* align-items: right; */
  /* order: 2; */
}
.navbar-c{
  padding: 30px;
  /* align-itmes: right; */
  /* order: 3; */
}
.navbar-d{
  padding: 30px;
  /* align-items: right' */
  /* order: 4 */
}

.images{
  display: flex;
  justify-content: center;

}
.images-1{
  padding: 30px;
}

.images-2{
  padding: 12px;
  width: 500px;
}
@media screen and (min-width: 400px) and (max-width: 700px){
  .navbar {
    padding: 5px;
  }
  body{
    background-color: linen;
  }
}
@media screen and (max-width: 1900px) and (max-width:1100px){
  .navbar {
    padding: 30px;
  }
  body{
    background-color: linen;
  }
}
